<div class="col-lg-4">
<div class="m-3">
  <div class="card">
    <img src="<%= article.image %>" class="card-img-top" alt="..." >

    <div class="card-body">
      <p>
        <strong class="card-title" style="text-color: #2D3142;"> <%= article.title %> </strong>
      </p>

      <p>
        <strong class="card-text" style="text-color: #2D3142;"> <%= article.chapo %> </strong>
      </p>

      <p>
        <strong class="card-text" style="text-color: #2D3142;"> <%= article.body %> </strong>
      </p>
      
      <div class="d-flex justify-content-center">
      <p>
       <%= link_to "Show this article", article, class:"btn l-1", style:"background-color: #C9C2C5" %>
      </p>
      </div>

    </div>
  </div>
</div>
</div>
