<p style="color: green"><%= notice %></p>


<%= render @article %>

<div>
  <%= link_to "Editer cet article", edit_article_path(@article) %> |
  <%= link_to "Retour articles", articles_path %>

  <%= button_to "Supprimer cet article", @article, method: :delete %>
</div>
