<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center">
<%= render @article %>
</div>

<div class="d-flex justify-content-center">
<div>
  <%= link_to "Editer cet article", edit_article_path(@article), class:"btn l-1", style:"background-color: #C9C2C5" %>
  <%= link_to "Retour articles", articles_path, class:"btn l-1", style:"background-color: #C9C2C5" %>
<p> <br> </p>
  <%= button_to "Supprimer cet article", @article, method: :delete %>
</div>
</div>
