<p style="color: green"><%= notice %></p>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-center" style="background-color: #C32F27;">
        <a class="navbar-brand" href="#">Falmse</a>
    </div>
    </nav>
</div>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
