<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



  </head>

  <body style="background-color: #2D3142">

    <nav class="navbar"; style="background-color: #EEEEFF">
    <div class="container justify-content-center">
      <span class="navbar-brand m-3 h1"; style="font-size: 40px; color-text: #2D3142">Fallms</span>
    </div>
    </nav>

    <div class="col-lg-8">
    <div class="m-3">
    <div class="d-flex justify-content-center"
      <p style="text-color: #EEEEFF">FALLMS est un site générateur de poster de films. Proposez tout simplement votre titre, accroche ou chapo; et votre résumé. En esperant voir votre affiche bientot sur grand ecran, commencez vos debuts de cineastes avec FALLMS.</p>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="p-5">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
