<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <nav class="navbar bg-body-tertiary" style="height: 100px;background-color: #C32F27;">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Fallms</span>
      </div>
    </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
