<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



  </head>

  <body style="background-color: black">

    <nav class="navbar"; style="background-color: #C9C2C5">
    <div class="container justify-content-center">
      <span class="navbar-brand m-3 h1"; style="font-size: 40px">Fallms</span>
    </div>
    </nav>

    <div class="container">
    <div class="p-5">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
