<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



  </head>

  <body style="background-color: #2D3142">

    <nav class="navbar"; style="background-color: #EEEEFF">
    <div class="container justify-content-center">
      <span class="navbar-brand m-3 h1"; style="font-size: 40px; color-text: #2D3142">FAUXLM</span>
    </div>
    </nav>

    <div class="container">
    <div class="p-5">
      <%= yield %>
    </div>
    </div>
    
    <footer class="text-center text-lg-start" style:"background-color: #C9C2C5">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-3 col-md-2 mb-2 mb-md-0">
            <a class="nav-btn active" role="button" style:"background-color: #C9C2C5; text-decoration: none;"><%= link_to "Accueil", articles_path %></a>
          </div>
          <div class="col-lg-3 col-md-2 mb-2 mb-md-0">
            <a class="nav-btn active" role="button" style:"background-color: #C9C2C5; text-decoration: none;"><%= link_to "Nouvel Article", new_article_path %></a>
          </div>
        </div>
      </div>
    </footer>
  </body>

  <style> 
    .span {
      font-family : Montserrat;
    }
  </style>
</html>

