<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



  </head>

  <body style="background-color: #2D3142">

    <nav class="navbar"; style="background-color: #EEEEFF">
    <div class="container justify-content-center">
      <span class="navbar-brand m-3 h1"; style="font-size: 40px; color-text: #2D3142">FAUXLM</span>
    </div>
    </nav>

    <div class="container">
    <div class="p-5">
      <%= yield %>
    </div>
    </div>
    <nav class="navbar"; style="background-color: #EEEEFF">
      <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" style:"background-color: #C9C2C5"><%= link_to "Accueil", articles_path %></p>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style:"background-color: #C9C2C5"><%= link_to "Nouvel Article", new_article_path %></p>
      </li>
      </ul>
    </nav>
  </body>

  <style> 
    .span {
      font-family : Montserrat;
    }
  </style>
</html>

